<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Fullproject</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>main.html</welcome-file>
    <welcome-file>fullregportal.html</welcome-file>
    <welcome-file>adminlogin.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.reg.pkg.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.log.pkg.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>Fullregistration</servlet-name>
    <servlet-class>com.fullreg.pkg.Fullregistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fullregistration</servlet-name>
    <url-pattern>/Fullregistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Details</display-name>
    <servlet-name>Details</servlet-name>
    <servlet-class>com.detail.pkg.Details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Details</servlet-name>
    <url-pattern>/Details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>Admin</servlet-name>
    <servlet-class>com.adminlog.pkg.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Alldetails</display-name>
    <servlet-name>Alldetails</servlet-name>
    <servlet-class>com.admindetail.pkg.Alldetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Alldetails</servlet-name>
    <url-pattern>/Alldetails</url-pattern>
  </servlet-mapping>
</web-app>